* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

.column {
    flex: 33.3%;
    padding: 5px;
}

.header img {
    float: left;
    width: 70px;
    height: 50px;
    background: #ffff;
}

    .header h1 {
        position: relative;
        top: 18px;
        left: 10px;
    }

.right {
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
    
li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

body {
    background-color: #577277;
    color: #ffff;
    font-family: 'Helvetica';
}

a:link {
    color: lightgreen;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }